<style>
  .valdr-message {
    display: none;
  }

  .valdr-message.ng-invalid.ng-touched.ng-dirty,
  .form-submitted .valdr-message.ng-invalid,
  .validationMessage {
    display: inline;
    color: red;
    margin-top: -2px;
  }
</style>
<md-dialog aria-label="Add Developer" style="width:800px;" id="addDeveloper">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3 ng-hide="DeveloperCreateEditVM.isUpdate">Create Developer</h3>
      <h3 ng-show="DeveloperCreateEditVM.isUpdate">{{DeveloperCreateEditVM.developer.name}}</h3>

      <span flex></span>
      <md-button id="close" class="md-icon-button" ng-click="DeveloperCreateEditVM.cancel()">
        <md-icon md-svg-src="images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>

    <div class="md-dialog-content" ng-class="{ 'form-submitted': formSubmitted }">
      <form name="developerForm" valdr-type="AddDeveloper" novalidate on-navigate-away-strategy='none'>

          <md-input-container  class="md-block"  valdr-form-group>
            <label>Name *</label>
            <input ng-model="DeveloperCreateEditVM.developer.name" name="name">
          </md-input-container>

          <md-input-container  class="md-block"  valdr-form-group>
            <label>Email *</label>
            <input ng-model="DeveloperCreateEditVM.developer.email" name="email">
          </md-input-container>



      </form>
    </div>

  </md-dialog-content>
  <md-dialog-actions layout="row" layout-align="end center" layout-padding>
    <div flex align="right">
      <md-button class="md-raised md-primary" id="save" ng-click="DeveloperCreateEditVM.saveDeveloper(developerForm)">Save</md-button>
      <md-button class="md-raised" id="cancel" ng-click="DeveloperCreateEditVM.cancel()">Cancel</md-button>
    </div>
  </md-dialog-actions>
</md-dialog>
