<div layout="column" flex layout-fill ng-cloak>

  <md-toolbar class="md-whiteframe-1dp">
    <div layout="row">
      <div class="md-toolbar-tools">{{ProjectVM.project.name}}</div>
    </div>
  </md-toolbar>

  <md-content md-theme="altTheme">
    <div class="md-padding">
      <p>{{ProjectVM.project.description}}</p>
    </div>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="todos" ui-sref-active="active" ui-sref=".todo" >
        <md-content class="md-padding">
          <ui-view></ui-view>
        </md-content>
      </md-tab>
      <md-tab label="developers">
        <md-content>
          <md-list layout-padding>
            <md-list-item class="md-3-line" ng-repeat="developer in ProjectVM.project.developers">
                <div class="md-list-item-text">
                  <h3>{{developer.name}}</h3>
                  <h4>{{developer.email}}</h4>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
          </md-list>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
