<div layout="column" flex layout-fill ng-cloak>

  <md-toolbar class="md-whiteframe-1dp">
    <div layout="row">
      <div class="md-toolbar-tools">Projects</div>
    </div>
  </md-toolbar>

  <md-content style="height: calc(100vh - 64px);padding-bottom: 60px;" md-theme="altTheme">
    <md-card ng-repeat="project in ProjectHomeVM.projects">
     <md-card-content>
       <div layout="row" layout-align="space-between">
         <div>
             <span style="font-weight:bold;">{{project.name | uppercase}}</span>
         </div>
         <div layout="row">
           <md-button id="close" class="md-icon-button" style="margin-top: -15px;" ng-click="ProjectHomeVM.createEditProject($event,project,$index)">
             <md-icon md-svg-src="images/pencil.svg" class="ng-scope" role="img" aria-hidden="true"></md-icon>
             <md-tooltip>Edit</md-tooltip>
           </md-button>
         </div>
       </div>
       <div style="color:gray;font-size:14px;text-align:justify">{{project.description}}</div>
     </md-card-content>
   </md-card>
  </md-content>
</div>

<button class="md-fab md-fab-bottom-right docs-scroll-fab md-button md-ink-ripple scrolling" type="button" aria-label="Add" ng-click="ProjectHomeVM.createEditProject($event,{},null)">
    <md-icon md-svg-src="images/plus.svg"  role="img" aria-hidden="true"></md-icon>
    <md-tooltip md-direction="top">Add Project</md-tooltip>
</button>
