<style>
  .valdr-message {
    display: none;
  }

  .valdr-message.ng-invalid.ng-touched.ng-dirty,
  .form-submitted .valdr-message.ng-invalid,
  .validationMessage {
    display: inline;
    color: red;
    margin-top: -2px;
  }
</style>
<md-dialog aria-label="Add Project" style="width:800px;" id="addProject">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3 ng-hide="ProjectCreateEditVM.isUpdate">Create Project</h3>
      <h3 ng-show="ProjectCreateEditVM.isUpdate">{{ProjectCreateEditVM.project.name}}</h3>

      <span flex></span>
      <md-button id="close" class="md-icon-button" ng-click="ProjectCreateEditVM.cancel()">
        <md-icon md-svg-src="images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>

    <div class="md-dialog-content" ng-class="{ 'form-submitted': formSubmitted }">
      <form name="projectForm" valdr-type="AddProject" novalidate on-navigate-away-strategy='none'>

          <md-input-container  class="md-block"  valdr-form-group>
            <label>Name *</label>
            <input ng-model="ProjectCreateEditVM.project.name" name="name">
          </md-input-container>


        <md-input-container class="md-block" valdr-form-group>
          <label>Description *</label>
          <textarea ng-model="ProjectCreateEditVM.project.description" md-maxlength="500" rows="3" md-select-on-focus></textarea>
        </md-input-container>

        <md-input-container class="md-block" valdr-form-group>
          <label class="dpLabel">Developers</label>
          <md-chips ng-model="ProjectCreateEditVM.selectedDevelopers" name = "developer" md-autocomplete-snap md-transform-chip="ProjectCreateEditVM.transformChip($chip)" md-require-match="true">
            <md-autocomplete md-selected-item="ProjectCreateEditVM.selectedHeadItem" md-search-text="ProjectCreateEditVM.searchHeadText" md-items="item in ProjectCreateEditVM.querySearch(ProjectCreateEditVM.searchHeadText)" md-item-text="item.name">
              <span md-highlight-text="ProjectCreateEditVM.searchHeadText">{{item.name}}</span>
            </md-autocomplete>
            <md-chip-template>
              <span>
            <strong>{{$chip.name}}</strong>
          </span>
            </md-chip-template>
          </md-chips>
        </md-input-container>

      </form>
    </div>

  </md-dialog-content>
  <md-dialog-actions layout="row" layout-align="end center" layout-padding>
    <div flex align="right">
      <md-button class="md-raised md-primary" id="save" ng-click="ProjectCreateEditVM.saveProject(projectForm)">Save</md-button>
      <md-button class="md-raised" id="cancel" ng-click="ProjectCreateEditVM.cancel()">Cancel</md-button>
    </div>
  </md-dialog-actions>
</md-dialog>
