<style>
  .valdr-message {
    display: none;
  }

  .valdr-message.ng-invalid.ng-touched.ng-dirty,
  .form-submitted .valdr-message.ng-invalid,
  .validationMessage {
    display: inline;
    color: red;
    margin-top: -2px;
  }
</style>
<md-dialog aria-label="Add Todo" style="width:800px;" id="addTodo">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3 ng-hide="TodoCreateEditVM.isUpdate">Create Todo</h3>
      <h3 ng-show="TodoCreateEditVM.isUpdate">{{TodoCreateEditVM.todo.name}}</h3>

      <span flex></span>
      <md-button id="close" class="md-icon-button" ng-click="TodoCreateEditVM.cancel()">
        <md-icon md-svg-src="images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>

    <div class="md-dialog-content" ng-class="{ 'form-submitted': formSubmitted }">
      <form name="todoForm" valdr-type="AddTodo" novalidate on-navigate-away-strategy='none'>

        <div layout="row">

          <md-input-container  class="md-block"  valdr-form-group flex="80">
            <label>Name *</label>
            <input ng-model="TodoCreateEditVM.todo.name" name="name">
          </md-input-container>

          <md-input-container flex="20">
            <label>Status</label>
            <md-select name="type" ng-model="TodoCreateEditVM.todo.status">
              <md-option ng-repeat="status in TodoCreateEditVM.statuses" ng-value="status.value">
               {{status.name}}
             </md-option>
            </md-select>
          </md-input-container>

      </div>


        <md-input-container class="md-block" valdr-form-group>
          <label>Description *</label>
          <textarea ng-model="TodoCreateEditVM.todo.description" md-maxlength="500" rows="3" md-select-on-focus></textarea>
        </md-input-container>

        <div layout="row">

        <md-input-container flex="50">
          <label>Developer</label>
          <md-select name="type" ng-model="TodoCreateEditVM.todo.developer_id">
            <md-option ng-repeat="developer in TodoCreateEditVM.developers" ng-value="developer.id">
             {{developer.name}}
           </md-option>
          </md-select>
        </md-input-container>
      </div>


      </form>
    </div>

  </md-dialog-content>
  <md-dialog-actions layout="row" layout-align="end center" layout-padding>
    <div flex align="right">
      <md-button class="md-raised md-primary" id="save" ng-click="TodoCreateEditVM.saveTodo(todoForm)">Save</md-button>
      <md-button class="md-raised" id="cancel" ng-click="TodoCreateEditVM.cancel()">Cancel</md-button>
    </div>
  </md-dialog-actions>
</md-dialog>
